{% extends './layout.html.twig' %}

{% block title %}Closed Positions | Crypto Bot{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Closed Positions</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ '/' }}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Closed Positions</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.Content Header (Page header) -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Filters</strong>
                                <form method="get">

                                    <ul class="list-inline">
                                        <li class="list-inline-item">Include:</li>
                                        {% for key,symbol in symbols %}
                                            <li class="list-inline-item">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" name="include_symbols[]" value="{{ symbol }}" id="symbol_{{ key }}" onChange="this.form.submit()" {% if symbol in form.includeSymbols %}checked{% endif %}>
                                                    <label class="form-check-label" for="symbol_{{ key }}">{{ symbol }}</label>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </form>
                            </div>
                            <!-- /.card-header -->

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-sm table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">Exchange</th>
                                            <th scope="col">Symbol</th>
                                            <th scope="col">Side</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Entry</th>
                                            <th scope="col">Profit</th>
                                            <th scope="col">CreatedAt</th>
                                            <th scope="col">ClosedAt</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for closedPosition in closedPositions %}
                                            <tr>
                                                <td>{{closedPosition.exchange}}</td>
                                                <td>{{closedPosition.symbol}}</td>
                                                <td>{{closedPosition.side}}</td>
                                                <td>{{closedPosition.amount|price_format}}</td>
                                                <td>{{closedPosition.entry|price_format}}</td>
                                                <td>
                                                    <span class="{{ closedPosition.profit >= 0 ? 'text-success' : 'text-danger' }}">{{ closedPosition.profit|round(2) }} %</span>
                                                </td>
                                                <td style="white-space: nowrap">{{ closedPosition.created_at|date('y-m-d H:i:s') }}</td>
                                                <td style="white-space: nowrap">{{ closedPosition.closed_at|date('y-m-d H:i:s') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
